/*
=================================================
General CSS styling for Home page and other pages
=================================================
*/

/*Setting CSS variables*/
:root {
  --text-color: rgb(255, 255, 255);        /* white text */
  --bg-color: rgb(0, 0, 0);               /* black background */
  --primary-color: rgb(0, 102, 204);       /* blue for headers/buttons */
  --secondary-color: rgb(51, 153, 255);    /* highlights & hover */
  --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Global styling*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: var(--bg-color);
}
h1,h2,h3,h4,h5,h6{
    color: var(--header-color);
}
p{
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

a:hover{
    color: var(--primary-color);
}

/*
=====================
Header section styling
Navber styling
=====================
*/

.navbar-container{
    display: flex;
    flex-direction:row;
    gap: 100px;
    margin: 20px;
    /*Push the bottom items down*/
    margin-bottom: 60px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;

}

/*Menu Styling*/
.menu-container{
    display: flex;
    flex-direction:row;
    gap :30px;
    align-items: center;
}
.menu-container a {
    text-decoration: none;
    font-weight: bold;
    color: var(--accent);
    text-align: center;
    letter-spacing: 2px;
}

/*LOGO styling */
#logo{
    padding: 5px;
    margin: 5px;
}


/*
====================
HERO section Styling 
====================
*/

.hero-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name{
    margin: 10px;
    padding: 10px;
    align-items: center;
}

.tagline{
    color: var(--accent);
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.cta-container{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    gap: 20px;
}

.cta-primary{
    padding: 5px;
    border: 2px;
    border-radius: 10px;
    background-color: var(--header-color);
    color: white;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.cta-primary:hover{
    box-shadow: 0px 0px 10px var(--accent);
    transform: 0.1;
}


@media (max-width: 900px){
    .hero-container{
        display: flex;
        flex-direction: column;
    }
}
